@import url(//fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
  }
.header {
    background-color: #1f2937;
    justify-content: space-between;
}
.top-bar {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.header-logo{
    font-size: 24px;
    color: #E5E7EB;
    display: flex;
}

.links {
    padding: 0px;
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
}


.footer {
    background-color: #1f2937;
    height: 50px;
}

.content1 {
    background-color: #FFFFFF;
    height: 50px;
}

.content2 {
    background-color: #FFFFFF;
    height: 50px;
}

.quote{
    background-color: #E5E7EB;
    height: 50px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: rebeccapurple;
  }
  
  ul {
    list-style-type: none;
    display: flex;
  }

  li {
      padding: 5px;
  }